@font-face {
  font-family: 'Outfit';
  src: url('~@/assets/fonts/Outfit-VariableFont_wght.ttf');
}

body {
  background-color: #f5ecf9;
  margin: 0;
}

input[type='text'] {
  font-family: 'Outfit';
}

.vm--modal {
  height: auto !important;
}
